In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("saurabh00007/iriscsv")

print("Path to dataset files:", path)

/home/pict/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading to /home/pict/.cache/kagglehub/datasets/saurabh00007/iriscsv/1.archive...

100%|██████████████████████████████████████| 1.28k/1.28k [00:00<00:00, 3.19MB/s]

Extracting files...
Path to dataset files: /home/pict/.cache/kagglehub/datasets/saurabh00007/iriscsv/versions/1

In [2]:
import pandas as pd
df=pd.read_csv("Iris.csv")

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
grouped_stats=df.groupby('Species').agg(mean_sepal_length=("SepalLengthCm","mean"),
median_sepal_length=("SepalLengthCm","median"),
max_sepal_length=("SepalLengthCm","max"),
min_sepal_length=("SepalLengthCm","min"),
std_sepal_length=("SepalLengthCm","std")
)
grouped_stats

,mean_sepal_length,median_sepal_length,max_sepal_length,min_sepal_length,std_sepal_length
Species,,,,,
Iris-setosa,5.006,5.0,5.8,4.3,0.352490
Iris-versicolor,5.936,5.9,7.0,4.9,0.516171
Iris-virginica,6.588,6.5,7.9,4.9,0.635880